<?xml version="1.0"?>
<config>
    <modules>
        <Magero_Common>
            <version>1.0.0</version>
        </Magero_Common>
    </modules>
    <global>
        <helpers>
            <magero_common>
                <class>Magero_Common_Helper</class>
            </magero_common>
        </helpers>
        <models>
            <magero_common>
                <class>Magero_Common_Model</class>
            </magero_common>
        </models>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <magero_common_notificiation>
                        <type>singleton</type>
                        <class>magero_common/feed</class>
                        <method>observe</method>
                    </magero_common_notificiation>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <magero_general>
            <general>
                <notification_status>1</notification_status>
                <feed_url>magento-romania.ro/extension-news</feed_url>
            </general>
        </magero_general>
    </default>
</config>