{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Buna ziua, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Buna ziua, {{htmlescape var=$userName}}<br /><br />
Autorizatia dvs pentru <b>{{htmlescape var=$applicationName}}</b> a fost schimbata in <b>{{htmlescape var=$status}}</b> de catre administrator.<br /><br />
